<nav class="
    bg-gray-100
    h-16
    flex
    items-center
    justify-around">
    <div class="
        flex 
        items-center
        text-xl
        font-black">The <span class="text-red-500 ml-2">Project</span>Manager
    </div>
    <div class="hidden md:block">
        <ul class="flex flex-row font-light">
            <li class="mx-3 hover:text-red-500 cursor-pointer">Login</li>
            <li class="mx-3 hover:text-red-500 cursor-pointer">My Projects</li>
            <li class="mx-3 hover:text-red-500 cursor-pointer">Team Memebers</li>
        </ul>
    </div>
    <div class="
        min-h-9
        w-7 
        cursor-pointer
        ">
        <div class="
            h-1 
            w-3
            bg-red-500 
            mb-1
            rounded-sm"></div>
        <div class="
            h-1 
            w-5 
            bg-red-500 
            mb-1
            rounded-sm"></div>
        <div class="
            h-1 
            w-7 
            bg-red-500
            rounded-sm"></div>
    </div>
</nav