<div class="w-full bg-red-500">
    <% @projects.each do |project| %>
        <div class="max-w-xl mt-8 m-auto bg-gray-200 rounded-lg">
            <h1 class="p-4 font-semibold">Project Title: <span class="font-light"><%= project.title%></span></h1>
            <p class="p-4 font-semibold">Project Description: <span class="font-light"><%= project.description%></span></p>
            <p class="p-4 font-semibold">Number of Developers: <span class="font-light"><%= project.number_of_developers%></span></p>
            <button class="m-3 
                           px-6 
                           py-1 
                           bg-red-500 
                           rounded
                           focus:outline-none 
                           hover:bg-red-400">Join</button>
        </div>
    <% end %>
</div>