<div>
    <% @projects.each do |project| %>
        <div class="sm:m-auto sm:mt-5 max-w-xl mt-8 mx-3 my-3 bg-gray-100 rounded-lg border border-gray-300">
            <h1 class="p-4 font-semibold">Project Title: <span class="font-light"><%= project.title%></span></h1>
            <p class="p-4 font-semibold">Project Description: <span class="font-light"><%= project.description%></span></p>
            <p class="p-4 font-semibold">Number of Developers: <span class="font-light"><%= project.number_of_developers%></span></p>
           
            <button class="m-3 
                           mb-5
                           px-6 
                           py-1 
                           bg-red-500
                           rounded
                           focus:outline-none 
                           border
                           hover:border-black
                           hover:bg-red-400">Join</button>
        </div>
    <% end %>
</div>