<div class="">
    <div class="content-center mt-28"><h1 class="text-center text-7xl text-yellow-400">Project</h1></div>
    <div class=""><h1 class="text-center text-7xl">Manager</h1></div>
    <% if !logged_in? %>
        <div class="">
            <ul class="flex flex-row justify-center mt-6">
                <li class="mr-2 hover:text-yellow-400 transition-all text-black cursor-pointer"><%= link_to "Login", login_path %></li>
                    <p class="text-yellow-400"> | </p>
                <li class="ml-2 hover:text-yellow-400 transition-all text-black cursor-pointer"><%= link_to "Register", new_developer_path %></li>
            </ul>
        </div>
    <% end %>
</div>